<div class="container mt-2">
<div class="d-flex justify-content-between align-items-center mb-2">
  <h2>Product Inventory and Sale</h2>
  <a routerLink="/add-product" class="btn btn-success">+ Add New Product</a>
</div>
@if(products && products.length>0){
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th style="width: 120px;">Image</th>
        <th>Product Details</th>
        <th>Sale History</th>
        <th style="width: 150px;">Action</th>
      </tr>
   </thead>
    <tbody>

      @for (item of products; track item.productId) {
        <tr>
          <!-- <td class="text-center align-middle">

            @if (item.picture) {
              <img [src]="getImageUrl(fileName:item.picture)"
             
              alt="Picture"
              class="img-thumbline"
              style="max-width: 100px;" />
            }

            @else{
              <span class="text-muted small">No Image</span>
            }
          </td> -->
<td class="text-center align-middle">
                @if(item.picture){
                  <img [src]="getImageUrl(item.picture)" alt="Picture" class="img-thumbnail" style="max-width:100px"/>
                }
                @else {
                  <span class="text-muted small">No Image</span>
                }
              </td>
              
              <td class="align-middle">
                <div class="mb-1">
                  <strong>{{item.productName}}</strong>
                  @if(item.onSale){
                    <span class="badge bg-success ms-2">On Sale</span>
                  }
                </div>
                <div class="d-flex gap-2 mt-1">
                  <span class="badge bg-info text-dark">Price: ${{item.price}}</span>
                  @if(item.size){
                    <span class="badge bg-secondary">Size:{{item.size}}</span>
                  }
                </div>
              </td>
<td>
  @if(item.sales && item.sales.length>0){
    <table class="table table-bordered">
      <thead class="small">
        <tr>
          <th>Date</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        @for (sale of item.sales; track $index)
        {
          <tr>
            <td class="small">{{sale.date | date: 'shortDate'}}</td>
            <td class="small">{{sale.quantity}}</td>
          </tr>
        }
      </tbody>

    </table>
  }
  @else {
    <div class="text-center small">No Sale Recorded</div>
  }
</td>
<td class="align-middle text-center"><div class="btn-group">
  <a [routerLink]="['/edit-product',item.productId]" class="btn btn-primary btn-sm">Edit</a> &nbsp; &nbsp; &nbsp;
  <button class="btn btn-danger btn-sm" (click)="deleteProduct(item.productId)">Delete</button>
</div>
</td>

        </tr>
      }
    </tbody>
  </table>
}
@else {
  <div class="text-center">No Product found</div>
}
</div>


